## Django Specific Packages
django-webtest
model-mommy
django-debug-toolbar
django-model-utils
django-redis
django-bootstrap3
django-vanilla-views
django-extensions
django-clear-cache
django-digg-paginator
django-widget-tweaks
django-mptt
Django==1.11.3
django_tables2
django-filter
django-configurations
django-taggit
elasticsearch_dsl
gunicorn
## Python Packages
whitenoise
django-haystack
invoke
pip-tools
cookiecutter
pytest
sh
mutagen
elasticsearch
logstash
requests
pip-tools
ipython
ipdb
flake8
psycopg2
tablib
raven
WebTest
coverage
selenium
# uwsgi
# hiredis
# brotlipy
