{% extends 'music/../../../../templates/base/base.html' %}
{% block title %}{{ album }}{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}

    <!-- Dynamic Content -->
    <div class="container-fluid songs-container">
        <div class="row">

            <!-- Left Panel Album Info -->
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-default">

                    <!-- Panel Body -->
                    <div class="panel-body">

                        <!-- Album Cover -->
                        <a href="{% url 'music:album_detail' album.id %}">
                            {% if album.cover %}
                                <img src="{{ album.cover.url }}" class="img-responsive">
                            {% else %}
                                <h3>No image to display</h3>
                            {% endif %}
                        </a>

                        <!-- Album Title -->
                        <h1>{{ album.title }}
                            {% for value in album.genre.iterator %}
                                <small>{{ value }}</small>
                            {% endfor %}
                        </h1>

                        <!-- Album SubTitle -->
                        {% if not album.subtitle.isdigit %}
                            <h1><small>{{ album.subtitle.title }}</small></h1>
                        {% endif %}

                        <!-- Album Favourite -->
                        <h2>
                            <a href="{% url 'music:artist_detail' album.artist.id %}" role="button">{{ album.artist}}</a>
                            <a href="{% url 'music:fav_album' album.id %}" class="btn-favorite"><span
                                    class="glyphicon glyphicon-star {% if album.fav %}active{% endif %}"></span></a>
                        </h2>

                        <!-- Album Details -->
                        <h4>
                            <small>{{ album.profile }}</small>
                        </h4>
                        <h4>Styles
                            <small>{{ album.style.name }}</small>
                        </h4>
                        <h4>Label
                            <small>{{ album.label.name }}</small>
                        </h4>
                        <h4>Producer
                            <small>{{ album.producer }}</small>
                        </h4>
                        <h4>Date
                            <small>{{ album.date }}</small>
                        </h4>
                        <h4>Country
                            <small>{{ album.country }}</small>
                        </h4>
                        <h4>Year
                            <small>{{ album.year }}</small>
                        </h4>
                        <h4>Discogs.com URL
                            <small>{{ album.discogs_url }}</small>
                        </h4>
                        </h4>
                        <h4>Tags
                            {% for tag in album.tags.names %}
                                <small>{{ tag }}, </small>
                            {% endfor %}
                        </h4>

                        <!-- Delete -->
                        <form action="{% url 'music:delete_album' album.id %}" method="post"
                              style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="album_id" value="{{ album.id }}"/>
                                <button type="submit" class="btn btn-danger btn-xs"/>
                                    <span class="glyphicon glyphicon-remove"></span> Delete
                                </button>
                            </input>
                        </form>

                        <!-- Edit -->
                        <form action="{% url 'music:edit_album' album.id %}" method="post"
                              style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="album_id" value="{{ album.id }}"/>
                                <button type="submit" class="btn btn-information btn-xs"/>
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </button>
                            </input>
                        </form>

                    </div>

                </div>
            </div>

            <!-- Right Panel Song Info -->
            <div class="col-sm-6 col-md-8">

                <!-- Main Panel -->
                <div class="panel panel-default">

                    <!-- Panel Body -->
                    <div class="panel-body">

                        <!-- Heading -->
                        <h3>Album Songs
                            <small><small>
{#                                <a href="{% url 'music:create_song'%}">Add New Song</a>
                            </small></small>
                        </h3>

                        <!-- Report Errors -->
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}

                        <!-- Results Table -->
                        <table class="table">

                            <!-- Table Head -->
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Favorite</th>
                                <th>Actions</th>
                            </tr>
                            </thead>

                            <!-- Table Body -->
                            <tbody>
                            {% for song in album.song_set.all %}
                                <tr>

                                    <!-- Title -->
                                    <td><a href="{% url 'music:song_detail' song.id %}"
                                           role="button">{{ song.title }}</a></td>

                                    <!-- Favorite -->
                                    <td>
                                        <a href="{% url 'music:fav_song' song.id %}" class="btn-favorite"><span
                                                class="glyphicon glyphicon-star {% if song.fav %}active{% endif %}"></span></a>
                                    </td>

                                    <!-- Actions -->
                                    <td>

                                        <!-- Delete -->
                                        <form action="{% url 'music:delete_song' song.id %}" method="post"
                                              style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="song_id" value="{{ song.id }}"/>
                                            <button type="submit" class="btn btn-danger btn-xs"/>
                                            <span class="glyphicon glyphicon-remove"></span> Delete
                                            </input>
                                        </form>

                                        <!-- Edit -->
                                        <form action="{% url 'music:edit_song' song.id %}" method="post"
                                              style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="song_id" value="{{ song.id }}"/>
                                            <button type="submit" class="btn btn-edit btn-xs"/>
                                            <span class="glyphicon glyphicon-edit"></span> Edit
                                            </input>
                                        </form>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>

                        <!-- Similar Albums Table -->
                        <h3>Similar Albums</h3>
                        <table class="table">

                            {% if similar_album %}
                                <!-- Table Head -->
                                <thead>
                                <tr>
                                    <th>Album</th>
                                    <th>Artist</th>
                                    <th>Favourite</th>
                                </tr>
                                </thead>

                                <!-- Table Body -->
                                <tbody>

                                    {% for album in similar_album %}
                                        <tr>

                                            <!-- Album -->
                                            <td><a href="{% url 'music:album_detail' album.id %}"
                                                   role="button">{{ album.title }}</a></td>

                                            <!-- Artist -->
                                            <td><a href="{% url 'music:artist_detail' album.artist.id %}"
                                                   role="button">{{ album.artist }}</a></td>

                                            <!-- Favorite -->
                                            <td>
                                                <a href="{% url 'music:fav_album' album.id %}" class="btn-favorite"><span
                                                        class="glyphicon glyphicon-star {% if album.fav %}active{% endif %}"></span></a>
                                            </td>

                                        </tr>
                                    {% endfor %}
                            {% else %}
                                <p>There are no similar albums to show</p>
                            {% endif %}
                            </tbody>

                        </table>

                        <!-- Similar Artists Table -->
                        <h3>Similar Artists</h3>
                        <table class="table">

                            {% if similar_artist %}
                                <!-- Table Head -->
                                <thead>
                                <tr>
                                    <th>Artist</th>
                                    <th>Favourite</th>
                                </tr>
                                </thead>

                                <!-- Table Body -->
                                <tbody>
                                    {% for artist in similar_artist %}
                                        <tr>

                                            <!-- Artist -->
                                            <td><a href="{% url 'music:artist_detail' artist.id %}"
                                                   role="button">{{ artist.name }}</a></td>

                                            <!-- Favorite -->
                                            <td>
                                                <a href="{% url 'music:fav_artist' artist.id %}" class="btn-favorite"><span
                                                        class="glyphicon glyphicon-star {% if artist.fav %}active{% endif %}"></span></a>
                                            </td>

                                        </tr>
                                    {% endfor %}
                            {% else %}
                                <p>There are no similar artists to show</p>
                            {% endif %}
                            </tbody>

                        </table>

                        <!-- Similar Songs Table -->
                        <h3>Similar Songs</h3>
                        <table class="table">

                            {% if similar_song %}
                                <!-- Table Head -->
                                <thead>
                                <tr>
                                    <th>Song</th>
                                    <th>Artist</th>
                                    <th>Album</th>
                                    <th>Favourite</th>
                                </tr>
                                </thead>

                                <!-- Table Body -->
                                <tbody>

                                {% for song in similar_song %}
                                    <tr>

                                        <!-- Song -->
                                        <td><a href="{% url 'music:song_detail' song.id %}"
                                               role="button">{{ song.title }}</a></td>

                                        <!-- Artist -->
                                        <td><a href="{% url 'music:artist_detail' song.artist.id %}"
                                               role="button">{{ song.artist.name }}</a></td>

                                        <!-- Album -->
                                        <td><a href="{% url 'music:album_detail' song.album.id %}"
                                               role="button">{{ song.album.name }}</a></td>

                                        <!-- Favorite -->
                                        <td>
                                            <a href="{% url 'music:fav_song' song.id %}" class="btn-favorite"><span
                                                    class="glyphicon glyphicon-star {% if song.fav %}active{% endif %}"></span></a>
                                        </td>

                                    </tr>
                                {% endfor %}
                            {% else %}
                                <p>There are no similar songs to show</p>
                            {% endif %}
                            </tbody>

                        </table>

                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}