{% extends 'music/base/label_1col.html' %}

<!-- Panel -->
{% block panel %}
    <div class="col-sm-12">

        <h2>Labels</h2>
        <table class="table">

                <!-- Table Head -->
                <thead>
                <tr>
                    <th>Label</th>
                    <th>Favourite</th>
                </tr>
                </thead>

                <!-- Table Body -->
                <tbody>

                {% for label in object_list %}
                    <tr>

                        <!-- Label -->
                        <td><a href="{% url 'music:label_detail' label.id %}"
                               role="button">{{ label.name }}</a></td>

                        <!-- Favorite -->
                        <td>
                            <a href="{% url 'music:fav_label' label.id %}" class="btn-favorite"><span
                                    class="glyphicon glyphicon-star {% if label.fav %}active{% endif %}"></span></a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>

            </table>

    </div>
{% endblock %}