{% extends 'music/base/genre_2col.html' %}

<!-- Left Panel -->
{% block panel1 %}
    <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">

                    <!-- Panel Body -->
                    <div class="panel-body">
                        <h3>Genre Details</h3>
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}

                        <!-- Genre Name -->
                        <h1>{{ genre.name }}</h1>
                        {% comment %}todo Iterate through parent genre's{% endcomment %}

                    </div>

                </div>
            </div>
{% endblock %}

<!-- Right Panel -->
{% block panel2 %}
    <div class="col-sm-12 col-md-5">
        <div class="panel panel-default">

            <!-- Panel Body -->
            <div class="panel-body">
            {% comment %}todo Insert meaningful details here{% endcomment %}
                <h3>View Genre Details Here</h3>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}