{% extends 'music/base/genre_1col.html' %}

<!-- Panel -->
{% block panel %}
    <div class="col-sm-12">

        <h2>Genres</h2>
        <table class="table">

                <!-- Table Head -->
                <thead>
                <tr>
                    <th>Genre</th>
                    <th>Favourite</th>
                </tr>
                </thead>

                <!-- Table Body -->
                <tbody>

                {% for genre in object_list %}
                    <tr>

                        <!-- Genre -->
                        <td><a href="{% url 'music:genre_detail' genre.id %}"
                               role="button">{{ genre.name }}</a></td>

                        <!-- Favorite -->
                        <td>
                            <a href="{% url 'music:fav_genre' genre.id %}" class="btn-favorite"><span
                                    class="glyphicon glyphicon-star {% if genre.fav %}active{% endif %}"></span></a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>

            </table>

    </div>
{% endblock %}