{% extends 'music/base/base.html' %}
{% block title %}{{ album }}{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}

    <!-- Dynamic Content -->
    <div class="container-fluid songs-container">
        <div class="row">

            <!-- Right Panel Song Info -->
            <div class="col-sm-8 col-md-9">
                <div class="panel panel-default">

                    <!-- Panel Body -->
                    <div class="panel-body">
                        <h3>{{ album.title }}</h3>

                        <!-- Error Reporting -->
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}

                        <!-- Form-->
                        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'music/base/form_template.html' %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}