{% extends 'music/base/base.html' %}
{% block title %}{{ album }}{% endblock %}
{% block albums_active %}active{% endblock %}
{% block body %}

    <!-- Dynamic Content -->
    <div class="albums-container container-fluid">

        <!-- Left Panel -->
        <div class="row">
            <div class="col-sm-12">

                <!-- Selection Header -->
                <ul class="nav nav-pills" style="margin-bottom: 10px;">

                    <!-- Show All -->
                    <li role="presentation" {% if filter_by == 'all' %}class="active"{% endif %}><a
                            href="{% url 'music:albums' 'all' %}">View All</a></li>

                    <!-- Show Favourites -->
                    <li role="presentation" {% if filter_by == 'favorites' %}class="active"{% endif %}><a
                            href="{% url 'music:albums' 'favorites' %}">Favorites</a></li>
                </ul>

            </div>
        </div>

        <!-- Right Panel -->
        {% if albums %}

            <!-- Iterate Through Albums-->
            {% for album in albums %}

                <!-- Panel -->
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">

                        <!-- Album Image to go here -->
                        <a href="{% url 'music:album_detail' album.id %}"></a>

                        <!-- Main Caption -->
                        <div class="caption">

                            <!-- Albums Details -->
                            <h2>{{ album.title }}</h2>
                            <h4>{{ album.artist }}</h4>

                            <!-- View Details -->
                            <a href="{% url 'music:album_detail' album.id %}" class="btn btn-primary btn-sm"
                               role="button">View
                                Details</a>

                            <!-- Delete Album -->
                            <form action="{% url 'music:delete_album' album.id %}" method="post"
                                  style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="album_id" value="{{ album.id }}"/>
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>

                            <!-- Edit -->
                            <form action="{% url 'music:edit_album' album.id %}" method="post"
                                  style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="album_id" value="{{ album.id }}"/>
                                <button type="submit" class="btn btn-default btn-sm"/>
                                <span class="glyphicon glyphicon-edit"></span>
                                </button>
                            </form>

                            <!-- Favorite Album -->
                            <a href="{% url 'music:fav_album' album.id %}" class="btn btn-default btn-sm btn-favorite"
                               role="button">
                                <span class="glyphicon glyphicon-star {% if album.fav %}active{% endif %}"></span>
                            </a>

                        </div>

                    </div>
                </div>

                <!-- ?? -->
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
            </div>

            <!-- Pagination -->
            <div class="albums-container container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        {% if albums.has_other_pages %}
                            <ul class="pagination">
                                {% if albums.has_previous %}
                                    <li><a href="?page={{ albums.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in albums.page_range %}
                                    {% if not i %}
                                        <li><a href="">...</a></li>
                                    {% else %}
                                        {% if albums.number == i %}
                                            <li class="active"><span>{{ i }} <span class="sr-only"></span></span></li>
                                        {% else %}
                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if albums.has_next %}
                                    <li><a href="?page={{ albums.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                    <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

        {% else %}
            <p>There are no albums to show</p>

        {% endif %}

{% endblock %}